# node
node_modules
# environment variables
.env
# typescript output
packages/*/dist
dist
**/*.tsbuildinfo
# editor
.vscode
.VSCodeCounter/**/*
# pupeteer browser cache
**/.cache/**/*
# rollup output
packages/Ply/rollup/**/*
# excecutable
**/*.exe